{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block nav_items %}
    <form class="d-flex me-2" method='get' action = '{% url "todo_list:search" %}'>
        <input class="form-control me-2" type="search" placeholder="Search tasks" aria-label="Search" name="search">
        <button class="btn btn-outline-info" type="submit">Search</button>
    </form>

    <li class="nav-item dropdown me-2">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">{{user.first_name}}</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown01">
        <li><a class="dropdown-item" href="{% url 'todo_list:edit_details' user.id %}">Edit details</a></li>
        <li><a class="dropdown-item" href="{% url 'todo_list:change_password' user.id %}">Change password</a></li>
        <li><a class="dropdown-item" href="{% url 'logout' %}?next={% url 'todo_list:landing_page' %}">Logout</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <div class="nav-scroller bg-body shadow-sm">
        <nav class="nav nav-underline" aria-label="Secondary navigation">
        <a class="nav-link active" aria-current="page" href="{% url 'todo_list:dashboard' %}">View Tasks<span class="badge bg-info text-danger rounded-pill align-text-bottom">{{task_count}}</span></a>
        <a class="nav-link" href="{% url 'todo_list:add_task' %}">Add task</a>
        </nav>
    </div>

    <div class="container">
        <h2>Change Password</h2>
        <div class="form-group">
            <form method="post" action = ''>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Edit" class="btn btn-outline-dark">
                <input type="reset" value="Reset" class="btn btn-outline-secondary">
            </form>  
        </div>
      
    </div>
{% endblock %}