{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Reset Password{% endblock %}
{% block nav_items%}
<li class="nav-item me-2" >
    <a class="nav-link" href="{% url 'login' %}?next={% url 'todo_list:dashboard' %}">Login</a>
</li>
{% endblock %}

{% block content %}

<div class="container">
    <h2>Reset Password</h2>
    <div class="form-group">
        <form method="post" action = ''>
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Reset" class="btn btn-info mt-3">
            <input type="reset" value="Clear" class="btn btn-secondary mt-3">
        </form>  
    </div>
</div>

{% endblock %}